@import url("https://fonts.cdnfonts.com/css/sanomat-sans-trial");
.containers {
  max-width: 130rem;
}

@font-face {
  font-family: "amonosdisplay";
  src: url(/fonts/amonosdisplay-regular.otf);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}

body {
  overflow-x: hidden;
  font-family: "Sanomat Sans Trial", sans-serif;
}

.check-btn {
  color: #fcb116;
  width: 50%;
  text-align: center;
  margin-top: 6rem;
  font-weight: 400;
  font-size: 2rem;
}
@media only screen and (max-width: 56.25rem) {
  .check-btn {
    margin: 3rem 0;
    width: 50%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .check-btn {
    margin: 3rem 0;
    width: 100%;
  }
}
.check-btn:link,
.check-btn :visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 2px solid #fcb116;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}
.check-btn:hover,
.check-btn :active {
  background-color: #fcb116;
  border: 2px solid #fcb116;
  color: #222;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  letter-spacing: 0.5px;
}
.check-btn:active {
  transform: scale(0.9);
}

.btn-swiper {
  background-color: #fcb116;
  color: #222 !important;
  padding: 3rem 5rem;
  border-radius: 2rem;
  border: 1px solid #fcb116;
  transition: all 0.4s;
}
@media only screen and (max-width: 56.25rem) {
  .btn-swiper {
    padding: 3rem 5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .btn-swiper {
    display: none !important;
  }
}

.btn-swiper:hover {
  background-color: transparent;
  color: #fcb116 !important;
  border: 1px solid #fcb116;
}

.btn-swiper-next {
  right: -20px !important;
}
@media only screen and (max-width: 37.5rem) {
  .btn-swiper-next {
    right: -8px !important;
  }
}

.btn-swiper-prev {
  left: -25px !important;
}
@media only screen and (max-width: 37.5rem) {
  .btn-swiper-prev {
    left: -10px !important;
  }
}

.swiper-button-prev::after {
  font-size: 3.5rem !important;
}
@media only screen and (max-width: 37.5rem) {
  .swiper-button-prev::after {
    font-size: 2rem !important;
  }
}

.swiper-button-next::after {
  font-size: 3.5rem !important;
}
@media only screen and (max-width: 37.5rem) {
  .swiper-button-next::after {
    font-size: 2rem !important;
  }
}

.swiper-pagination-bullet {
  background-color: #e2e2e2 !important;
  width: 12px !important;
  height: 12px !important;
}
@media only screen and (max-width: 37.5rem) {
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
  }
}

.check-btn-profesSional {
  color: #222;
  background-color: #fcb116;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 37.5rem) {
  .check-btn-profesSional {
    margin-top: 0;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0.8rem 1.6rem;
  }
}
.check-btn-profesSional:link,
.check-btn-profesSional :visited {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #222;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}
.check-btn-profesSional:hover,
.check-btn-profesSional :active {
  background-color: transparent;
  border: 2px solid #fcb116;
  color: #fcb116;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  letter-spacing: 0.5px;
}
.check-btn-profesSional:active {
  transform: scale(0.9);
}

.secandary-header {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: oklch(82.8% 0.189 84.429deg);
  margin-bottom: 8rem;
  font-weight: bolder;
}
@media only screen and (max-width: 56.25rem) {
  .secandary-header {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .secandary-header {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }
}

.third-header {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fcb116;
  letter-spacing: 1.5px;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25rem) {
  .third-header {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .third-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.forth-header {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fcb116;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  text-align: center;
}
@media only screen and (max-width: 56.25rem) {
  .forth-header {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .forth-header {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.fifth-header {
  color: #fcb116;
  text-transform: uppercase;
  font-size: 2.5rem;
}
@media only screen and (max-width: 75rem) {
  .fifth-header {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 56.25rem) {
  .fifth-header {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .fifth-header {
    font-size: 2.5rem;
  }
}

.main-paragraph {
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #e2e2e2;
  font-size: 1.9rem;
  line-height: 1.6;
  text-transform: lowercase;
}
@media only screen and (max-width: 56.25rem) {
  .main-paragraph {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .main-paragraph {
    font-size: 1.5rem;
  }
}

.secandary-paragraph {
  color: #e2e2e2;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}
@media only screen and (max-width: 75rem) {
  .secandary-paragraph {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 56.25rem) {
  .secandary-paragraph {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .secandary-paragraph {
    font-size: 1.2rem;
  }
}

.secandary-paragraph-profesSional {
  color: #e2e2e2;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 75rem) {
  .secandary-paragraph-profesSional {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 37.5rem) {
  .secandary-paragraph-profesSional {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}

.footer {
  margin: 0 auto;
}
.footer-logo {
  padding: 8rem 0 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e2e2e2;
}
@media only screen and (max-width: 56.25rem) {
  .footer-logo {
    padding: 5rem 0 8rem 0;
  }
}
.footer-logo-img-src {
  width: 50vw;
  opacity: 0.6;
}
.footer-content {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 15rem;
}
@media only screen and (max-width: 75rem) {
  .footer-content {
    gap: 10rem;
  }
}
@media only screen and (max-width: 56.25rem) {
  .footer-content {
    gap: 5rem;
    flex-wrap: wrap;
  }
}
.footer-content-links {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 56.25rem) {
  .footer-content-links {
    gap: 8rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .footer-content-links {
    gap: 2rem;
  }
}
.footer-content-links-link:link, .footer-content-links-link:visited {
  text-decoration: none;
  color: #e2e2e2;
  font-size: 3rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
}
@media only screen and (max-width: 37.5rem) {
  .footer-content-links-link:link, .footer-content-links-link:visited {
    font-size: 2.5rem;
  }
}
.footer-content-links-link:hover, .footer-content-links-link:active {
  font-size: 2.8rem;
}
@media only screen and (max-width: 37.5rem) {
  .footer-content-links-link:hover, .footer-content-links-link:active {
    font-size: 2rem;
  }
}
.footer-content-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 56.25rem) {
  .footer-content-info {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer-content-info-loc {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 2rem;
}
@media only screen and (max-width: 56.25rem) {
  .footer-content-info-loc {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .footer-content-info-loc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.footer-content-info-loc-src {
  width: 3vw;
}
@media only screen and (max-width: 56.25rem) {
  .footer-content-info-loc-src {
    width: 5vw;
  }
}
@media only screen and (max-width: 37.5rem) {
  .footer-content-info-loc-src {
    width: 8vw;
  }
}
.footer-content-info-loc-text {
  font-size: 2rem;
  color: #e2e2e2;
}
@media only screen and (max-width: 75rem) {
  .footer-content-info-loc-text {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .footer-content-info-loc-text {
    font-size: 1.5rem;
  }
}

.fixed-Nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: oklch(21% 0.034 264.665deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 5rem;
  border-bottom: 2px solid oklch(98.5% 0.002 247.839deg);
}
.fixed-Nav-link img {
  width: 5rem;
}
.fixed-Nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: oklch(98.5% 0.002 247.839deg);
  font-family: "Sanomat Sans Trial", sans-serif !important;
}
.fixed-Nav-text h1 {
  font-weight: 300;
}
.fixed-Nav-text p {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 1.5px !important;
}

.heros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/about-page/hero/01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  font-family: "amonosdisplay", sans-serif;
  overflow: hidden;
}
.heros-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: oklch(98.5% 0.002 247.839deg);
  width: 90%;
}
.heros-header-title {
  font-size: 12rem;
}
@media only screen and (max-width: 56.25rem) {
  .heros-header-title {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .heros-header-title {
    font-size: 6rem;
  }
}
.heros-header-text {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 56.25rem) {
  .heros-header-text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .heros-header-text {
    font-size: 1.5rem;
  }
}
.heros-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
}
@media only screen and (max-width: 37.5rem) {
  .heros-footer-logo {
    display: none;
  }
}
.heros-footer-logo-text a {
  color: oklch(98.5% 0.002 247.839deg);
  text-decoration: none;
  transition: all 0.4s;
}
.heros-footer-logo-text a:hover {
  letter-spacing: 5px;
}
@media only screen and (max-width: 37.5rem) {
  .heros-footer-navigation-big {
    display: none;
  }
}
@media only screen and (max-width: 37.5rem) {
  .heros-footer-navigation.navbar {
    display: block;
  }
}
.heros-footer-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.heros-footer-navigation li {
  list-style: none;
  z-index: 2;
}
@media only screen and (max-width: 37.5rem) {
  .heros-footer-navigation li {
    width: 100%;
  }
}
.heros-footer-navigation li a:link,
.heros-footer-navigation li a:visited {
  font-size: 1.8rem;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #e2e2e2;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .heros-footer-navigation li a:link,
  .heros-footer-navigation li a:visited {
    font-size: 2.5rem;
  }
}
.heros-footer-navigation li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #fcb116;
  transition: 0.4s ease;
  z-index: -1;
}
.heros-footer-navigation li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fcb116;
  transition: 0.5s ease;
}
.heros-footer-navigation li a:hover::before {
  width: 100%;
}
.heros-footer-navigation li a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  background-color: #fcb116;
}
.heros-footer-navigation li a:hover,
.heros-footer-navigation li a:active {
  color: #222;
  transition-delay: 0.5s;
}
@media only screen and (max-width: 37.5rem) {
  .heros-footer-navigation li a:hover,
  .heros-footer-navigation li a:active {
    color: #222 !important;
  }
}

.fixed-Nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: oklch(21% 0.034 264.665deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 5rem;
  border-bottom: 2px solid oklch(98.5% 0.002 247.839deg);
}
.fixed-Nav-link img {
  width: 5rem;
}
.fixed-Nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: oklch(98.5% 0.002 247.839deg);
  font-family: "Sanomat Sans Trial", sans-serif !important;
}
.fixed-Nav-text h1 {
  font-weight: 300;
}
.fixed-Nav-text p {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 1.5px !important;
}

.body-1 {
  font-family: "amonosdisplay", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/home-page/bg-herooo/01.jpg);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 37.5rem) {
  .body-1 {
    background-position: center;
  }
}
.body-1 p {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25rem) {
  .body-1 p {
    font-size: 1.3rem;
  }
}
.body-1 .hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: oklch(21% 0.034 264.665deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  will-change: clip-path;
}
.body-1 .progress-barr {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: oklch(76.9% 0.188 70.08deg);
}
@media only screen and (max-width: 37.5rem) {
  .body-1 .progress-barr {
    justify-content: flex-end;
  }
  .body-1 .progress-barr p:nth-child(1) {
    display: none;
  }
}
.body-1 .video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(226, 226, 226, 0.1), rgba(0, 32, 84, 0.3));
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  will-change: transform, clip-path;
  overflow: hidden;
}
.body-1 .video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.body-1 section,
.body-1 footer {
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #e2e2e2;
  z-index: 2;
}
.body-1 footer {
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 5rem;
}
@media only screen and (max-width: 37.5rem) {
  .body-1 footer {
    justify-content: space-between;
    gap: 0.5rem;
    display: none;
    padding: 0 2rem;
  }
}
.body-1 footer a:link,
.body-1 footer a:visited {
  font-size: 1.5rem;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #e2e2e2;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .body-1 footer a:link,
  .body-1 footer a:visited {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
}
.body-1 footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #fcb116;
  transition: 0.4s ease;
  z-index: -1;
}
.body-1 footer a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fcb116;
  transition: 0.5s ease;
}
.body-1 footer a:hover::before {
  width: 100%;
}
.body-1 footer a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #e2e2e2;
}
.body-1 footer a:hover,
.body-1 footer a:active {
  color: #222;
  transition-delay: 0.5s;
}
.body-1 .header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-1 .header h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 1;
  letter-spacing: -0.075rem;
  color: #e2e2e2;
  z-index: 50;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
@media only screen and (max-width: 75rem) {
  .body-1 .header h1 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 56.25rem) {
  .body-1 .header h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .body-1 .header h1 {
    font-size: 2rem;
  }
}
.body-1 .header p {
  margin-top: 1.4rem;
  color: #fcb116;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.body-1 .header span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
}
.body-1 .coordinates {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fcb116;
}
@media only screen and (max-width: 56.25rem) {
  .body-1 .coordinates {
    top: 65%;
    justify-content: center;
    gap: 1.4rem;
    color: #fcb116;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 37.5rem) {
  .body-1 .coordinates {
    display: none;
  }
}
.body-1 .coordinates p {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.body-1 .coordinates span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
}
.body-1 .logo {
  display: block;
  position: absolute;
  bottom: 3%;
  padding: 2rem;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  will-change: transform;
  color: #e2e2e2;
  mix-blend-mode: difference;
  z-index: 2;
}
@media only screen and (max-width: 56.25rem) {
  .body-1 .logo {
    padding-left: 0;
    bottom: 3%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .body-1 .logo {
    padding-left: 3rem;
    bottom: 8%;
    display: none;
  }
}
.body-1 .logo .char {
  text-transform: uppercase;
}
.body-1 .logo .char .anim-out {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.body-1 .logo .char .anim-out h1 {
  position: relative;
  will-change: transform;
}
.body-1 .links-hovers ul li a:link,
.body-1 .links-hovers ul li a:visited {
  padding: 1rem 2rem;
  transition: all 0.4s;
}
.body-1 .links-hovers ul li a:hover,
.body-1 .links-hovers ul li a:active {
  background-color: #fcb116;
  color: #222 !important;
}

.container-fluid {
  padding: 1rem 5rem !important;
}

.about-us {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about-us-header h2 {
  font-family: "amonosdisplay", sans-serif;
  text-align: center;
  font-size: 10rem;
  color: oklch(98.5% 0.002 247.839deg);
}
@media only screen and (max-width: 37.5rem) {
  .about-us-header h2 {
    font-size: 7rem;
  }
}
.about-us-house {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 1px solid oklch(76.9% 0.188 70.08deg);
}
@media only screen and (max-width: 75rem) {
  .about-us-house {
    flex-wrap: wrap;
    height: 80vh;
    padding-top: 2rem;
    height: auto;
  }
}
.about-us-house-text {
  width: 50%;
  padding: 0 3rem 0 3rem;
}
@media only screen and (max-width: 75rem) {
  .about-us-house-text {
    width: 100%;
    order: 1;
    text-align: center;
    padding: 0 3rem 3rem 3rem;
  }
}
@media only screen and (max-width: 75rem) and (max-width: 37.5rem) {
  .about-us-house-text {
    padding: 0 3rem 1.5rem 1.5rem;
  }
}
.about-us-house-text p {
  font-size: 2rem;
  color: oklch(98.5% 0.002 247.839deg);
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 37.5rem) {
  .about-us-house-text p {
    font-size: 1.4rem;
  }
}
.about-us-house-img {
  width: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 75rem) {
  .about-us-house-img {
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.about-us-house-img-src {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
@media only screen and (max-width: 75rem) {
  .about-us-house-img-src {
    object-fit: fill;
    width: 100%;
  }
}
.about-us-house:hover .about-us-house-img-src {
  transform: scale(1.1);
}
.about-us-last {
  overflow: hidden;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 1px solid oklch(76.9% 0.188 70.08deg);
  padding-top: 2rem;
}
.about-us-last-text {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}
.about-us-last-text p {
  color: oklch(98.5% 0.002 247.839deg);
  letter-spacing: 1.5px;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5rem) {
  .about-us-last-text p {
    font-size: 1.4rem;
  }
}
.about-us-last-images {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 75rem) {
  .about-us-last-images {
    flex-wrap: wrap;
  }
}
.about-us-last-images-fr {
  overflow: hidden;
}
.about-us-last-images-fr-src {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.about-us-last-images-fr-src:hover {
  transform: scale(1.1);
}

.section-info {
  background-color: oklch(27.8% 0.033 256.848deg);
  padding: 4rem 6rem;
}
@media only screen and (max-width: 75rem) {
  .section-info {
    padding: 4rem;
  }
}

.section-about-us {
  background-color: oklch(21% 0.034 264.665deg);
}

.section-loaction {
  background-color: oklch(13% 0.028 261.692deg);
  margin-bottom: -1rem;
}

.info {
  display: flex;
  gap: 2rem;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 75rem) {
  .info {
    height: 80vh;
  }
}
@media only screen and (max-width: 56.25rem) {
  .info {
    height: 60vh;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info {
    flex-wrap: wrap;
    height: 80vh;
  }
}
.info-img {
  width: 50%;
  border-radius: 50px;
  overflow: hidden;
}
@media only screen and (max-width: 37.5rem) {
  .info-img {
    order: 1;
    width: 100%;
    border-radius: 20px;
    height: 50%;
  }
}
.info-img-src {
  width: 100%;
  opacity: 1;
}
@media only screen and (max-width: 56.25rem) {
  .info-img-src {
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-img-src {
    object-fit: contain;
  }
}
.info-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}
@media only screen and (max-width: 37.5rem) {
  .info-content {
    order: 2;
    width: 100%;
    gap: 1rem;
  }
}
.info-content-header {
  margin-bottom: 2rem;
  border-bottom: 2px solid oklch(76.9% 0.188 70.08deg);
}
@media only screen and (max-width: 56.25rem) {
  .info-content-header {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-header {
    margin-bottom: 0;
    border-bottom: 1px solid oklch(76.9% 0.188 70.08deg);
  }
}
.info-content-header h2 {
  color: oklch(76.9% 0.188 70.08deg);
  font-size: 5rem;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 56.25rem) {
  .info-content-header h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-header h2 {
    padding-bottom: 1rem;
    font-size: 3rem;
  }
}
.info-content-work h3 {
  color: oklch(76.9% 0.188 70.08deg);
  font-size: 3rem;
  border-bottom: 1px solid oklch(98.5% 0.002 247.839deg);
  width: 40%;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 56.25rem) {
  .info-content-work h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-work h3 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    border-bottom: 0.5px solid oklch(98.5% 0.002 247.839deg);
  }
}
.info-content-work p {
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 2rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 56.25rem) {
  .info-content-work p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-work p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
.info-content-expert h3 {
  color: oklch(76.9% 0.188 70.08deg);
  font-size: 3rem;
  border-bottom: 1px solid oklch(98.5% 0.002 247.839deg);
  width: 50%;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 56.25rem) {
  .info-content-expert h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-expert h3 {
    font-size: 2rem;
    letter-spacing: 1.5px;
    border-bottom: 0.5px solid oklch(98.5% 0.002 247.839deg);
  }
}
.info-content-expert p {
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 2rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 56.25rem) {
  .info-content-expert p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-expert p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
.info-content-about p {
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25rem) {
  .info-content-about p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .info-content-about p {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
}

.loaction {
  overflow: hidden;
}
.loaction nav {
  padding: 2rem;
}
.loaction nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}
.loaction nav ul li {
  background-color: oklch(27.8% 0.033 256.848deg);
  padding: 1rem 6rem;
  transition: all 0.4s;
}
@media only screen and (max-width: 37.5rem) {
  .loaction nav ul li {
    padding: 0.8rem 4rem;
  }
}
.loaction nav ul li a {
  text-decoration: none;
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
}
.loaction nav ul li .disabledd {
  color: oklch(44.6% 0.03 256.802deg);
  cursor: no-drop;
}

.contact-us {
  overflow: hidden;
}
.contact-us-header {
  margin-bottom: 10rem;
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-header {
    margin-bottom: 6rem;
  }
}
.contact-us-header h1 {
  font-size: 8rem;
  text-align: center;
  font-family: "amonosdisplay", sans-serif;
  text-transform: uppercase;
  color: oklch(76.9% 0.188 70.08deg);
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-header h1 {
    font-size: 6rem;
  }
}
.contact-us-data {
  padding: 2rem 4rem;
  border-radius: 6rem;
  border: 2px solid oklch(66.6% 0.179 58.318deg);
  transition: all 0.4s;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-data {
    padding: 1rem 2rem;
    border-radius: 4rem;
    margin-bottom: 2rem;
  }
}
.contact-us-data-loc {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-data-loc {
    gap: 1rem;
  }
}
.contact-us-data-loc-src {
  width: 6rem;
  height: 6rem;
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-data-loc-src {
    width: 4rem;
    height: 4rem;
  }
}
.contact-us-data-loc h4 {
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 4rem;
  letter-spacing: 1px;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-data-loc h4 {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
  }
}
.contact-us-data-loc h4 a {
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 4rem;
  letter-spacing: 1px;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .contact-us-data-loc h4 a {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
  }
}
.contact-us-data:hover {
  background-color: oklch(66.6% 0.179 58.318deg);
}

.section-contact-us {
  background-color: oklch(27.8% 0.033 256.848deg);
  margin-bottom: -2rem;
  padding: 15rem 6rem;
}
@media only screen and (max-width: 37.5rem) {
  .section-contact-us {
    padding: 10rem 3rem;
  }
}

.section-social-media {
  padding: 20rem 6rem;
  background-color: oklch(21% 0.034 264.665deg);
}
@media only screen and (max-width: 37.5rem) {
  .section-social-media {
    padding: 10rem 3rem;
  }
}

.herosss {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../images/contact/hero/01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  font-family: "amonosdisplay", sans-serif;
  overflow: hidden;
}
.herosss-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: oklch(98.5% 0.002 247.839deg);
  width: 90%;
}
.herosss-header-title {
  font-size: 12rem;
}
@media only screen and (max-width: 56.25rem) {
  .herosss-header-title {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .herosss-header-title {
    font-size: 6rem;
  }
}
.herosss-header-text {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 56.25rem) {
  .herosss-header-text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .herosss-header-text {
    font-size: 1.5rem;
  }
}
.herosss-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
}
@media only screen and (max-width: 37.5rem) {
  .herosss-footer-logo {
    display: none;
  }
}
.herosss-footer-logo-text a {
  color: oklch(98.5% 0.002 247.839deg);
  text-decoration: none;
  transition: all 0.4s;
}
.herosss-footer-logo-text a:hover {
  letter-spacing: 5px;
}
@media only screen and (max-width: 37.5rem) {
  .herosss-footer-navigation-big {
    display: none;
  }
}
@media only screen and (max-width: 37.5rem) {
  .herosss-footer-navigation.navbar {
    display: block;
  }
}
.herosss-footer-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.herosss-footer-navigation li {
  list-style: none;
  z-index: 2;
}
@media only screen and (max-width: 37.5rem) {
  .herosss-footer-navigation li {
    width: 100%;
  }
}
.herosss-footer-navigation li a:link,
.herosss-footer-navigation li a:visited {
  font-size: 1.8rem;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #e2e2e2;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .herosss-footer-navigation li a:link,
  .herosss-footer-navigation li a:visited {
    font-size: 2.5rem;
  }
}
.herosss-footer-navigation li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #fcb116;
  transition: 0.4s ease;
  z-index: -1;
}
.herosss-footer-navigation li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fcb116;
  transition: 0.5s ease;
}
.herosss-footer-navigation li a:hover::before {
  width: 100%;
}
.herosss-footer-navigation li a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  background-color: #fcb116;
}
.herosss-footer-navigation li a:hover,
.herosss-footer-navigation li a:active {
  color: #222;
  transition-delay: 0.5s;
}
@media only screen and (max-width: 37.5rem) {
  .herosss-footer-navigation li a:hover,
  .herosss-footer-navigation li a:active {
    color: #222 !important;
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5rem;
}
@media only screen and (max-width: 37.5rem) {
  .social-media {
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
}
.social-media-header h3 {
  font-family: "amonosdisplay", sans-serif;
  font-size: 8rem;
  color: oklch(76.9% 0.188 70.08deg);
}
@media only screen and (max-width: 37.5rem) {
  .social-media-header h3 {
    font-size: 4.5rem;
  }
}
.social-media-header .floating-text {
  animation: floatUpDown 2s ease-in-out infinite;
  display: inline-block;
  position: relative;
}
@keyframes floatUpDown {
  0% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
.social-media .all-soial-media {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}
@media only screen and (min-width: 112.5rem) {
  .social-media .all-soial-media {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 75rem) {
  .social-media .all-soial-media {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5rem) {
  .social-media .all-soial-media {
    gap: 2rem;
    align-items: center;
    justify-content: start;
  }
}
.social-media .all-soial-media .all-social-media-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 37.5rem) {
  .social-media .all-soial-media .all-social-media-data {
    justify-content: center;
    align-items: center;
  }
}
.social-media .all-soial-media .all-social-media-data .all-social-media-data-src {
  width: 6rem;
}
@media only screen and (max-width: 37.5rem) {
  .social-media .all-soial-media .all-social-media-data .all-social-media-data-src {
    width: 4rem;
  }
}
.social-media .all-soial-media .all-social-media-data h5 a {
  color: oklch(98.5% 0.002 247.839deg);
  font-size: 4rem;
  letter-spacing: 1px;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .social-media .all-soial-media .all-social-media-data h5 a {
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
}

.section-all-Logos {
  background-color: oklch(27.8% 0.033 256.848deg);
  padding: 5rem 0 2.5rem 0;
  overflow: hidden;
}

.section-details-pages {
  background-color: oklch(21% 0.034 264.665deg);
  padding: 15rem 0 2.5rem 0;
  overflow: hidden;
}
@media only screen and (max-width: 56.25rem) {
  .section-details-pages {
    padding: 6rem 0 2.5rem 0;
  }
}
@media only screen and (max-width: 37.5rem) {
  .section-details-pages {
    padding: 6rem 0 2.5rem 0;
  }
}

.section-main-swiper {
  background-color: oklch(21% 0.034 264.665deg);
}

.section-cards {
  padding-top: 8rem;
  background-color: oklch(21% 0.034 264.665deg);
}
@media only screen and (max-width: 37.5rem) {
  .section-cards {
    padding-top: 4rem;
  }
}

.section-profesSional {
  padding: 0 1rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-color: oklch(21% 0.034 264.665deg);
}

.section-footer {
  background-color: oklch(13% 0.028 261.692deg);
  padding-bottom: 5rem;
}

.main-cards {
  margin: 0 auto;
  overflow: hidden;
}
.main-cards-all {
  display: flex;
  gap: 1rem;
  padding: 0rem 3rem;
}
@media only screen and (max-width: 56.25rem) {
  .main-cards-all {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-cards-all-part {
  border: 1px solid #fcb116;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 33.33%;
  overflow: hidden;
}
@media only screen and (max-width: 56.25rem) {
  .main-cards-all-part {
    width: 49%;
  }
  .main-cards-all-part:nth-last-child(1) {
    width: 70%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .main-cards-all-part {
    width: 100% !important;
  }
}
.main-cards-all-part-img {
  overflow: hidden;
  width: 100%;
}
.main-cards-all-part-img-src {
  width: 100%;
  transition: all 0.4s;
}
.main-cards-all-part:hover .main-cards-all-part-img-src {
  transform: scale(1.1);
}
.main-cards-all-part-contant {
  padding: 1rem 2rem;
}

.all-logos {
  margin: 0 auto;
}
.all-logos-header h2 {
  font-family: "amonosdisplay", sans-serif;
}
.all-logos-img {
  height: 5vw;
  margin-left: 15rem;
  object-fit: cover;
}
@media only screen and (max-width: 56.25rem) {
  .all-logos-img {
    height: 8vh;
    margin-bottom: 2rem;
    margin-left: 12rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .all-logos-img {
    height: 6vh;
    margin-bottom: 2rem;
    margin-left: 10rem;
  }
}

.details-pages-container {
  margin: 0 auto;
}
.details-pages-container .servies-img {
  order: 1;
}
@media only screen and (max-width: 56.25rem) {
  .details-pages-container .servies-img {
    order: 2;
  }
}
@media only screen and (max-width: 37.5rem) {
  .details-pages-container .servies-img {
    order: 2;
  }
}
.details-pages-container .servies-content {
  order: 2;
}
@media only screen and (max-width: 56.25rem) {
  .details-pages-container .servies-content {
    order: 1;
  }
}
@media only screen and (max-width: 37.5rem) {
  .details-pages-container .servies-content {
    order: 1;
  }
}
.details-pages-container-collection {
  display: flex;
  width: 100%;
  margin-bottom: 10rem;
}
@media only screen and (max-width: 56.25rem) {
  .details-pages-container-collection {
    margin-bottom: 5rem;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 37.5rem) {
  .details-pages-container-collection {
    margin-bottom: 5rem;
    flex-wrap: wrap;
  }
}
.details-pages-container-collection-content {
  padding: 0px 3rem 0px 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media only screen and (max-width: 56.25rem) {
  .details-pages-container-collection-content {
    padding: 0px 2rem 0px 2rem;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .details-pages-container-collection-content {
    padding: 0px 2rem 0px 2rem;
    width: 100%;
  }
}
.details-pages-container-collection-img {
  margin: 0px 2rem 0px 2rem;
  overflow: hidden;
  width: 50%;
}
@media only screen and (max-width: 56.25rem) {
  .details-pages-container-collection-img {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .details-pages-container-collection-img {
    width: 100%;
  }
}
.details-pages-container-collection-img-src {
  width: 100%;
  height: 100%;
}

.main-serves_div {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
@media only screen and (max-width: 75rem) {
  .main-serves_div {
    height: 70vh;
  }
}
@media only screen and (max-width: 56.25rem) {
  .main-serves_div {
    height: 60vh;
  }
}
@media only screen and (max-width: 37.5rem) {
  .main-serves_div {
    height: 50vh;
  }
}
.main-serves_div-box {
  position: relative;
}
.main-serves_div-box-items {
  opacity: 0.6;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-serves_div-box .start {
  background-image: url(../../../images/home-page/section-of-swiper/07_01.jpg);
}
.main-serves_div-box .mediam {
  background-image: url(../../../images/home-page/section-of-swiper/07.jpg);
}
.main-serves_div-box .last-mediam {
  background-image: url(../../../images/home-page/section-of-swiper/07_02.jpg);
}
.main-serves_div-box .last {
  background-image: url(../../../images/home-page/section-of-swiper/07_03.jpg);
}

.profesSional-main {
  border: 2px solid #fcb116;
  overflow: hidden;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main {
    flex-wrap: wrap;
  }
}
.profesSional-main-images {
  width: 50%;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-images {
    order: 2;
    width: auto;
  }
}
.profesSional-main-images-part-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  height: 50%;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-images-part-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profesSional-main-images-part-1 {
    grid-template-columns: 1fr 1fr;
  }
}
.profesSional-main-images-part-1-src {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profesSional-main-images-part-1-src.more {
  display: none;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-images-part-1-src.more {
    display: block;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profesSional-main-images-part-1-src.more {
    display: none;
  }
}
.profesSional-main-images-part-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5rem;
  height: 50%;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-images-part-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profesSional-main-images-part-2 {
    grid-template-columns: 1fr 1fr;
  }
}
.profesSional-main-images-part-2-src {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profesSional-main-images-part-2-src.more {
  display: none;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-images-part-2-src.more {
    display: block;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profesSional-main-images-part-2-src.more {
    display: none;
  }
}
.profesSional-main-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-contact {
    order: 1;
    width: auto;
    gap: 2rem;
    justify-content: space-around;
  }
}
.profesSional-main-contact-header {
  margin-left: -22rem;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-contact-header {
    margin: 0;
  }
}
.profesSional-main-contact-header-src {
  width: 100%;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-contact-header-src {
    display: none;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profesSional-main-contact-header-src {
    display: block;
  }
}
.profesSional-main-contact-header-phone {
  width: 100%;
  display: none;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-contact-header-phone {
    display: block;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profesSional-main-contact-header-phone {
    display: none;
  }
}
.profesSional-main-contact-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 75rem) {
  .profesSional-main-contact-text {
    margin-bottom: 2rem;
  }
}

.heross {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../images/servies/hero/01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  font-family: "amonosdisplay", sans-serif;
  overflow: hidden;
}
.heross-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: oklch(98.5% 0.002 247.839deg);
  width: 90%;
}
.heross-header-title {
  font-size: 12rem;
}
@media only screen and (max-width: 56.25rem) {
  .heross-header-title {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .heross-header-title {
    font-size: 6rem;
  }
}
.heross-header-text {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 56.25rem) {
  .heross-header-text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .heross-header-text {
    font-size: 1.5rem;
  }
}
.heross-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
}
@media only screen and (max-width: 37.5rem) {
  .heross-footer-logo {
    display: none;
  }
}
.heross-footer-logo-text a {
  color: oklch(98.5% 0.002 247.839deg);
  text-decoration: none;
  transition: all 0.4s;
}
.heross-footer-logo-text a:hover {
  letter-spacing: 5px;
}
@media only screen and (max-width: 37.5rem) {
  .heross-footer-navigation-big {
    display: none;
  }
}
@media only screen and (max-width: 37.5rem) {
  .heross-footer-navigation.navbar {
    display: block;
  }
}
.heross-footer-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.heross-footer-navigation li {
  list-style: none;
  z-index: 2;
}
@media only screen and (max-width: 37.5rem) {
  .heross-footer-navigation li {
    width: 100%;
  }
}
.heross-footer-navigation li a:link,
.heross-footer-navigation li a:visited {
  font-size: 1.8rem;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #e2e2e2;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 37.5rem) {
  .heross-footer-navigation li a:link,
  .heross-footer-navigation li a:visited {
    font-size: 2.5rem;
  }
}
.heross-footer-navigation li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #fcb116;
  transition: 0.4s ease;
  z-index: -1;
}
.heross-footer-navigation li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fcb116;
  transition: 0.5s ease;
}
.heross-footer-navigation li a:hover::before {
  width: 100%;
}
.heross-footer-navigation li a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  background-color: #fcb116;
}
.heross-footer-navigation li a:hover,
.heross-footer-navigation li a:active {
  color: #222;
  transition-delay: 0.5s;
}
@media only screen and (max-width: 37.5rem) {
  .heross-footer-navigation li a:hover,
  .heross-footer-navigation li a:active {
    color: #222 !important;
  }
}

.section-document {
  background-color: oklch(27.8% 0.033 256.848deg);
}

.document {
  padding: 4rem 8rem;
  overflow: hidden;
}
@media only screen and (max-width: 75rem) {
  .document {
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .document {
    padding: 1rem 2rem;
  }
}
.document-header {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 37.5rem) {
  .document-header {
    margin-bottom: 4rem;
  }
}
.document-header h2 {
  text-align: center;
  font-size: 5rem;
  color: oklch(98.5% 0.002 247.839deg);
  letter-spacing: 2px;
}
@media only screen and (max-width: 37.5rem) {
  .document-header h2 {
    font-size: 4rem;
  }
}
.document-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 56.25rem) {
  .document-images {
    gap: 3rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .document-images {
    gap: 1rem;
  }
}
.document-images-part-one, .document-images-part-two {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}
@media only screen and (max-width: 56.25rem) {
  .document-images-part-one, .document-images-part-two {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .document-images-part-one, .document-images-part-two {
    row-gap: 1rem;
  }
}
.document-images-part-one-src, .document-images-part-two-src {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.4s;
}
.document-images-part-one-src:hover, .document-images-part-two-src:hover {
  opacity: 1;
}
